{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "esmodules": true
      },
      "useBuiltIns": "usage",
      "corejs": "3.35"
    }],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-syntax-dynamic-import"
  ]
}